body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}


/*Home*/
div.home-text{
  text-align: center;
  padding: 100px;
}

select{
  align-content: center;
  height: 40px;
  width: 40%;
  top: 200px;
}

div.modal-content {
  background-color: #1263ba;
  color: white;
}


/*Login*/
div.modal-dialog {
  width: 400px;  
/*  height: 500px;*/
  position: relative;
  top: 20%;
}

div.modal-header {
  border: none;
  padding: 10px 16px;
}

div.modal-body {
  background-color: #74b0f1;
}


div.signup-link {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
}

div.signup-link a{
  color: white;
}

form.lg input[type=email],
form.lg input[type=password]{
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #e6f2ff;
  background: transparent;
  outline: none;
  height: 35px;
  color: white;
  font-size: 15px;
  width: 90%;
}

div.name-field {
  width: 45%;
  display: inline-block;
  margin: auto;
}

form.su input[type=email],
form.su input[type=password],
form.su input[type=text],
form.su input[type=tel] {
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #e6f2ff;
  background: transparent;
  outline: none;
  height: 35px;
  color: black;
  font-size: 15px;
  width: 90%;
}

div.subtext{
  font-size: 13px;
  color: rgba(0,0,0,0.4);

}

div.check {
  padding-top: 10px;
  padding-bottom: 10px;
}

::placeholder {
  color: rgba(0,0,0,0.3)
}

form.lg input[type=submit] {
  height: 30px;
  color: #fff;
  font-size: 18px;
  background: #1263ba;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-left: 20%;
  width: 60%;
}

form.su input[type=submit] {
  height: 30px;
  color: #fff;
  font-size: 18px;
  background: #74b0f1;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-left: 20%;
  width: 60%;
}

div.back-link, div.next-link {
  display: inline-block;
  padding-top: 10px;
}

div.back-link {
  margin-left: 0%;
}

div.next-link {
  margin-left: 77%;
}

div.filler {
  height: 11px;
}

div.filler2 {
  height: 41px;
}

div.filler3 {
  height: 23px;
}

div.cbtext {
  font-size: 15px;
  color: black;
  display: inline-block;
  vertical-align: bottom;
}
.anim {
  animation-name: grow;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes grow {
  0% {width: 400px;}
  20% {color: transparent;}
  100% {width: 600px;}
}

.appear {
  animation-name: appear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;
        color: black;}
}

.disappear {
  animation-name: disappear;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes disappear {
  0% {opacity: 1;}
  20% {opacity: 0;}
  100% {opacity: 0;}
}

.lighten {
  animation-name: lighten;
  animation-duration: 0.9s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

div.lightened {
  background-color: #74b0f1;
}

@keyframes lighten {
  0% {background-color: #1263ba;}
  100% {background-color: #74b0f1;
        color: transparent;}
}

.whiten {
  animation-name: whiten;
  animation-duration: 0.9s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes whiten {
  0% {background-color: #74b0f1;}
  100% {background-color: white;}
}

div.whitened {
  background-color: white;
}

.appear-head {
  animation-name: appearhead;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes appearhead {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;
        color: white;}
}


/*Profile and Flipcard*/
div.profile-container {
  margin: auto;
  margin-top: 20px;
  background-color: white;
  border-radius: 25px;
  width: 94%;
  height: 80%;
}

div.profile-greeting {
  padding: 10px 20px;
}

div.profile-current-trips {
  padding: 20px 20px;
  background-color: hsl(0, 0%, 97%);
}

div.profile-past-trips {
  padding: 20px 20px;
  background-color: hsl(0, 0%, 97%);
}

div.profile-subhead-text {
  font-size: 23px
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid hsl(0, 0%, 97%);
  perspective: 1000px;
  display: inline-block;

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-inner p {
  text-align: left;
  margin-left: 20px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  padding-top: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card-front {
  background-color: #1263ba;
  color: white;
}

.flip-card-front-head, .flip-card-back-head {
  font-size: 20px;
}

.flip-card-front-subhead {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
}

.flip-card-back-subhead {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.flip-card-front-details, .flip-card-back-details {
  font-size: 15px;
  margin-top: 20px;
}

.flip-card-back {
  background-color: #b9d8f8;
  color: black;
  transform: rotateY(180deg);
}

.flip-card-back li {
  text-align: left;
  list-style: none;
  margin-left: 20px;
}


/*Navbar*/
.bg-nav {
  background-color: #0E4D92;
}

.btn-outline {
    color: white;
    background-color: transparent;
    background-image: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btn-outline:hover {
  background-color: #e8f2fd;
  color: black;
}


/*Display Trips*/
#tdx{
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid white;
}